body{
    background-color: rgb(235, 192, 135);
	text-align:center;
	overflow-x:hidden;
	overflow-x:hidden;
	background-image:fixed;
}

#basket{
	position:absolute;
	width:150px;
	height:150px;
	left:754px;
}

#playarea{
    width:fit-content;
    height:fit-content;
    margin:auto;
}
#shotclock{
	position:absolute;
	top:35%;
	padding-left:10px;
	height:300px;
	width:410px;
	border:black 2px solid;
	background-color:grey;
}

#gameclock{
	position:absolute;
	top:35%;
	right:10px;
	height:300px;
	width:410px;
	border:black 2px solid;
	background-color:black;
}

#instruction{
	color:rgb(243, 127, 95);
	position:absolute;
	top:10%;
	padding-left:250px;
	height:50px;
	width:160px;
}

#timer{
  font-family: system-ui;
  text-align: center;
  color:white;
}

.timer {
    margin-top: 10px;
	color:rgb(243, 127, 95);
	color:white;
}
  
.timer > svg {
    width: 200px;
	color:rgb(243, 127, 95);
    height: 200px;
}

.timer > svg > circle {
    fill: none;
    stroke-opacity: 0.3;
    stroke: rgb(243, 127, 95);
    stroke-width: 10;
    transform-origin: center center;
    transform: rotate(-90deg);
	color:rgb(243, 127, 95);
}

.timer > svg > circle + circle {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke-linecap: round;
    stroke-opacity: 1;
	color:white;
}

.timer.animatable > svg > circle + circle {
    transition: stroke-dashoffset 0.3s ease;
	color:white;
}

.timer > svg > text {
    font-size: 2rem;
	color:white;
}

.timer > svg > text + text {
    font-size: 1rem;
	color:rgb(243, 127, 95);
}
